app:
  redmine:
    base-url: https://task.finch.fm
  jira:
    base-url: https://jira.stoloto.ru

spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:file:${db-path};DB_CLOSE_ON_EXIT=FALSE;Mode=Oracle
    username: sa
    password: ${db-password}
  jpa:
    hibernate:
      ddl-auto: update

    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    database-platform: h2
  h2:
    console:
      enabled: true
logging:
  level:
    org.finch: debug
